include gfootball/build_game_engine.*
recursive-include gfootball/colabs *
recursive-include gfootball/doc *
recursive-include gfootball/eval_server/proto *
recursive-include gfootball/examples *

include Dockerfile Dockerfile_examples .dockerignore CHANGELOG CONTRIBUTING.md requirements.txt run_docker_test.sh

recursive-include third_party/fonts *
recursive-include engine *
recursive-exclude engine *.a *.so cmake_install.cmake Makefile

prune engine/CMakeFiles
prune engine/cmake-build-*
prune engine/build*
prune engine/.vs*
prune engine/.idea
