# 2026-09-10: match pyproject.toml and setup.py maintained runtime dependencies.
# # If you change any of the requirements here please don't forget to change them in setup.py too
# pygame>=1.9.6
# opencv-python
# psutil
# numpy
# gym<=0.21.0
# absl-py
# wheel
pygame-ce>=2.5.8,<3
opencv-python>=4.8,<6
psutil>=5.9
numpy>=1.24,<3
gymnasium>=1.3,<2
absl-py>=2,<3
six>=1.16
